In [1]:
import numpy as np
import pandas as pd

In [2]:
file1 = r"C:\Users\nvkaj\Pictures\Learn\MIC\CTF 2\FIFA\FIFA 19 data.csv"
df1 = pd.read_csv(file1)
df1

,Name,Age,Nationality,Overall,Potential,Club,Value,Wage,Special,International Reputation,...,GKKicking,GKPositioning,GKReflexes,Release Clause,DOB,Height,Weight,Right Foot,Offensive Work Rate,Defensive Work Rate
0,L. Messi,31,Argentina,94,94,FC Barcelona,110500000,565000,2202,5,...,15,14,8,226500000,6/24/1987,170,72,False,Medium,Medium
1,Cristiano Ronaldo,33,Portugal,94,94,Juventus,77000000,405000,2228,5,...,15,14,11,127100000,2/5/1985,187,83,True,High,Low
2,Neymar Jr,26,Brazil,92,93,Paris Saint-Germain,118500000,290000,2143,5,...,15,15,11,228100000,2/5/1992,175,68,True,High,Medium
3,De Gea,27,Spain,91,93,Manchester United,72000000,260000,1471,4,...,87,88,94,138600000,11/7/1990,193,76,True,Medium,Medium
4,K. De Bruyne,27,Belgium,91,92,Manchester City,102000000,355000,2281,4,...,5,10,13,196400000,6/28/1991,181,70,True,High,High
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17214,S. Griffin,18,Republic of Ireland,47,67,Waterford FC,60000,1000,1325,1,...,12,7,13,153000,12/31/1999,173,64,True,Medium,Medium
17215,K. Fujikawa,19,Japan,47,61,JÃºbilo Iwata,60000,1000,1333,1,...,6,11,8,113000,7/24/1998,171,66,True,Medium,Medium
17216,J. Young,18,Scotland,47,62,Swindon Town,60000,1000,1203,1,...,12,12,11,143000,7/31/1999,175,71,False,Medium,Medium
17217,J. Lundstram,19,England,47,65,Crewe Alexandra,60000,1000,1307,1,...,7,8,9,143000,2/19/1999,176,61,True,Medium,Medium
17218,B. Worman,16,England,47,67,Cambridge United,60000,1000,1189,1,...,10,6,13,165000,8/30/2001,172,67,True,Medium,Medium

## 1. You are currently working as a team manager for a club and are looking to scout for only 80 rated players to hire for your club. Find the total number of 80 rated players available in fifa 19.

In [3]:
len(df1[df1['Overall'] >= 80])

554

## 2. find the total number of Spanish players in the Fifa 19 game for further analysis and scouting.

In [4]:
len(df1[df1['Nationality'] == 'Spain'])

1015

## 3.  find the average overall score of players within the value of 10000 and 20000.

In [5]:
third_df1 = df1[(df1['Value'] >= 10000) & (df1['Value'] <= 20000)]
third_df1

,Name,Age,Nationality,Overall,Potential,Club,Value,Wage,Special,International Reputation,...,GKKicking,GKPositioning,GKReflexes,Release Clause,DOB,Height,Weight,Right Foot,Offensive Work Rate,Defensive Work Rate
12396,P. Gori,38,Italy,63,63,Benevento,20000,1000,1101,1,...,64,69,59,32000,5/10/1980,189,83,True,Medium,Medium
12639,S. Bywater,37,England,63,63,Burton Albion,20000,1000,1126,1,...,55,68,55,35000,6/7/1981,185,81,True,Medium,Medium
12657,M. McNulty,37,Republic of Ireland,63,63,Cork City,20000,1000,1021,1,...,54,62,66,31000,10/13/1980,185,74,True,Medium,Medium
12658,L. Corti,37,Argentina,63,63,San MartÃ­n de San Juan,20000,2000,866,1,...,56,74,63,29000,1/29/1981,180,77,True,Medium,Medium
13502,F. Al Shammari,37,Saudi Arabia,61,61,Al Fayha,20000,2000,979,1,...,55,59,63,33000,5/5/1981,181,75,True,Medium,Medium
13779,Y. GutiÃ©rrez,37,Mexico,61,61,Club Necaxa,20000,1000,1068,1,...,63,60,57,34000,3/15/1981,189,86,True,Medium,Medium
14200,Yang Jun,37,China PR,60,60,Tianjin Quanjian FC,10000,2000,970,1,...,60,59,57,22000,6/10/1981,187,78,True,Medium,Medium
14545,M. Gurski,39,Germany,60,60,SpVgg Unterhaching,10000,1000,942,1,...,38,62,60,15000,3/21/1979,189,89,True,Medium,Medium
14812,M. Tyler,41,England,59,59,Peterborough United,10000,1000,1031,1,...,54,63,55,18000,4/2/1977,183,83,True,Medium,Medium
14884,S. Shearer,37,Scotland,59,59,Oxford United,10000,1000,1039,1,...,52,60,60,18000,2/15/1981,191,89,False,Medium,Medium
14961,S. Bengriba,37,France,59,59,Grenoble Foot 38,20000,1000,1528,1,...,11,12,12,35000,9/24/1980,176,71,False,Medium,Medium
15011,D. Nasu,36,Japan,59,59,Vissel Kobe,20000,1000,1396,1,...,11,7,9,25000,10/10/1981,180,77,True,Low,High
15301,J. Inamoto,38,Japan,58,58,Hokkaido Consadole Sapporo,20000,1000,1613,1,...,8,11,16,25000,9/18/1979,181,77,True,Low,High
15369,K. Fegrouche,36,Morocco,58,58,IK Sirius,20000,1000,1008,1,...,55,59,58,25000,2/14/1982,185,76,True,Medium,Medium
15507,C. MÃ¥nsson,37,Sweden,58,58,Kristiansund BK,10000,1000,1070,1,...,57,59,59,13000,1/4/1981,188,88,True,Medium,Medium
15547,B. LekstrÃ¶m,37,Sweden,58,58,Hammarby IF,10000,1000,1011,1,...,56,60,58,13000,2/19/1981,191,86,True,Medium,Medium
15559,P. van der Vlag,40,Netherlands,58,58,FC Emmen,10000,1000,965,1,...,59,61,51,15000,12/5/1977,185,76,True,Medium,Medium
15604,C. Weale,36,England,57,57,Exeter City,10000,1000,1117,1,...,57,56,56,18000,2/9/1982,188,84,False,Medium,Medium
15823,K. Kitamoto,36,Japan,57,57,Vissel Kobe,10000,1000,1175,1,...,8,8,12,13000,9/18/1981,181,78,True,Low,Medium
15851,A. Al Basisi,40,Saudi Arabia,57,57,Ohod Club,10000,1000,1066,1,...,54,58,57,17000,12/11/1977,184,86,True,Medium,Medium
15880,K. Stamatopoulos,38,Canada,57,57,AIK,10000,1000,1001,1,...,54,57,56,13000,8/28/1979,188,80,False,Medium,Medium
16024,K. Ogi,35,Japan,56,56,Vissel Kobe,20000,1000,843,1,...,48,57,58,25000,5/5/1983,185,76,True,Medium,Medium
16160,Y. Uekusa,35,Japan,56,56,Shimizu S-Pulse,20000,1000,1303,1,...,59,55,65,25000,7/2/1982,186,80,True,Medium,Medium
16396,Y. Nishibe,37,Japan,55,55,Shimizu S-Pulse,10000,1000,823,1,...,56,59,56,13000,12/1/1980,187,79,True,Medium,Medium
16497,Y. Kurihara,34,Japan,54,54,Yokohama F. Marinos,20000,1000,1130,1,...,10,13,10,25000,9/18/1983,184,80,True,Low,Medium
16505,G. Maley,35,Scotland,54,54,Livingston FC,20000,1000,845,1,...,48,59,50,35000,8/3/1982,188,90,True,Medium,Medium
16601,S. Ono,38,Japan,54,54,Hokkaido Consadole Sapporo,20000,1000,1416,2,...,9,6,11,25000,9/27/1979,175,76,True,Medium,Low
16769,J. McCombe,35,England,53,53,Lincoln City,10000,2000,1000,1,...,12,11,14,18000,1/1/1983,196,79,True,Medium,Medium
16813,F. Nicastro,36,Italy,53,53,NeuchÃ¢tel Xamax,10000,1000,867,1,...,58,58,52,15000,11/24/1981,183,78,True,Medium,Medium
16938,Zhou Ting,39,China PR,52,52,Dalian YiFang FC,10000,1000,1473,1,...,7,15,6,22000,2/5/1979,185,74,True,Medium,Low
17081,J. Miszczuk,27,Poland,50,50,Jagiellonia BiaÅystok,20000,1000,941,1,...,49,48,51,27000,8/6/1990,186,76,True,Medium,Medium
17090,A. Suzuki,31,Japan,50,50,Yokohama F. Marinos,20000,1000,820,1,...,54,52,54,25000,4/13/1987,184,80,True,Medium,Medium
17094,Teng Shangkun,27,China PR,50,51,Tianjin TEDA FC,20000,1000,868,1,...,55,45,53,45000,1/10/1991,186,78,True,Medium,Medium
17113,Sun Qibin,26,China PR,50,52,Tianjin Quanjian FC,20000,2000,843,1,...,51,48,50,45000,11/6/1991,192,80,True,Medium,Medium
17193,Y. Uchimura,33,Japan,48,48,Hokkaido Consadole Sapporo,20000,1000,1262,1,...,7,15,15,25000,8/24/1984,174,67,True,Medium,Low

In [6]:
round(third_df1['Overall'].mean())

57

In [7]:
df1.columns

Index(['Name', 'Age', 'Nationality', 'Overall', 'Potential', 'Club', 'Value',
       'Wage', 'Special', 'International Reputation', 'Weak Foot',
       'Skill Moves', 'Body Type', 'Position', 'Jersey Number', 'LS', 'ST',
       'RS', 'LW', 'LF', 'CF', 'RF', 'RW', 'LAM', 'CAM', 'RAM', 'LM', 'LCM',
       'CM', 'RCM', 'RM', 'LWB', 'LDM', 'CDM', 'RDM', 'RWB', 'LB', 'LCB', 'CB',
       'RCB', 'RB', 'Crossing', 'Finishing', 'HeadingAccuracy', 'ShortPassing',
       'Volleys', 'Dribbling', 'Curve', 'FKAccuracy', 'LongPassing',
       'BallControl', 'Acceleration', 'SprintSpeed', 'Agility', 'Reactions',
       'Balance', 'ShotPower', 'Jumping', 'Stamina', 'Strength', 'LongShots',
       'Aggression', 'Interceptions', 'Positioning', 'Vision', 'Penalties',
       'Composure', 'Marking', 'StandingTackle', 'SlidingTackle', 'GKDiving',
       'GKHandling', 'GKKicking', 'GKPositioning', 'GKReflexes',
       'Release Clause', 'DOB', 'Height', 'Weight', 'Right Foot',
       'Offensive Work Rate', 'Defensive Work Rate'],
      dtype='object')

## African Cigarette Prices

In [8]:
import pandas as pd

file2 = r"C:\Users\nvkaj\Pictures\Learn\MIC\CTF 2\Africa_Cigarette_Prices\cigarrette.csv"

# Try reading with different encodings
try:
    df2 = pd.read_csv(file2, encoding='utf-8')
except UnicodeDecodeError:
    df2 = pd.read_csv(file2, encoding='latin1')

# Display the dataframe
df2

C:\Users\nvkaj\AppData\Local\Temp\ipykernel_17908\152010145.py:9: DtypeWarning: Columns (0,1,2) have mixed types. Specify dtype option on import or set low_memory=False.
  df2 = pd.read_csv(file2, encoding='latin1')

,Store_ID,Round,Fieldworker_Code,Country,Currency,Day,Month,Year,Date,Province,...,Quantity,Unusual_Quantity_Flg,Local_Price,Local_Price_Per_Stick_Cigarette,Dollar_Exchange_Rate,Dollar_Price,Dollar_Price_Per_Stick_Cigarett,Dollar_Price_Pack_Cigarettes,Fieldworker_Comment,Data_Cleaner_Comment
0,123.0,1,F,Lesotho,LSL,18.0,1.0,2016.0,18jan2016,Lowlands,...,1.0,0.0,2.50,2.5000,16.3000,0.153374,0.153374,3.067485,NaN,NaN
1,51.0,1,B,Namibia,NAD,18.0,1.0,2016.0,18jan2016,Khomas,...,20.0,0.0,20.00,1.0000,16.3000,1.226994,0.061350,1.226994,NaN,NaN
2,51.0,1,B,Namibia,NAD,18.0,1.0,2016.0,18jan2016,Khomas,...,20.0,0.0,36.99,1.8495,16.3000,2.269325,0.113466,2.269325,NaN,NaN
3,52.0,1,B,Namibia,NAD,19.0,1.0,2016.0,19jan2016,Khomas,...,20.0,0.0,37.00,1.8500,16.3000,2.269939,0.113497,2.269939,NaN,NaN
4,33.0,1,A,Uganda,UGX,22.0,1.0,2016.0,22jan2016,Central Uganda,...,20.0,0.0,3500.00,175.0000,3440.9000,1.017176,0.050859,1.017176,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
215444,416.0,12,251,Lesotho,LSL,20.0,7.0,2022.0,20jul2022,Maseru,...,1.0,0.0,1.00,1.0000,15.4713,0.064636,0.064636,1.292716,NaN,NaN
215445,449.0,12,251,Lesotho,LSL,20.0,7.0,2022.0,20jul2022,Maseru,...,1.0,0.0,2.50,2.5000,15.4713,0.161590,0.161590,3.231791,NaN,NaN
215446,17.0,12,309,Zimbabwe,ZAR,20.0,7.0,2022.0,20jul2022,Matebeleland,...,1.0,0.0,1.00,1.0000,14.6785,0.068127,0.068127,1.362537,NaN,NaN
215447,608.0,12,277,Lesotho,LSL,19.0,7.0,2022.0,19jul2022,Maseru,...,1.0,0.0,3.00,3.0000,15.4713,0.193907,0.193907,3.878149,NaN,NaN
215448,659.0,12,301,Zimbabwe,BOND,28.0,6.0,2022.0,28jun2022,Masvingo,...,1.0,0.0,20.00,20.0000,101.1960,0.197636,0.197636,3.952725,NaN,NaN

In [9]:
df2.columns

Index(['Store_ID', 'Round', 'Fieldworker_Code', 'Country', 'Currency', 'Day',
       'Month', 'Year', 'Date', 'Province', 'City', 'Suburb', 'Outlet_Type',
       'Retail_Subtype', 'Outlet_Name', 'Product', 'Brand', 'Sub_Brand',
       'Quantity', 'Unusual_Quantity_Flg', 'Local_Price',
       'Local_Price_Per_Stick_Cigarette', 'Dollar_Exchange_Rate',
       'Dollar_Price', 'Dollar_Price_Per_Stick_Cigarett',
       'Dollar_Price_Pack_Cigarettes', 'Fieldworker_Comment',
       'Data_Cleaner_Comment'],
      dtype='object')

### 1.If you were tracking cigarette expenditures in Namibia, how much money, in local currency, would have been spent on cigarettes in total?

In [10]:
namibia_df = df2[df2['Country'] == 'Namibia']
namibia_df

,Store_ID,Round,Fieldworker_Code,Country,Currency,Day,Month,Year,Date,Province,...,Quantity,Unusual_Quantity_Flg,Local_Price,Local_Price_Per_Stick_Cigarette,Dollar_Exchange_Rate,Dollar_Price,Dollar_Price_Per_Stick_Cigarett,Dollar_Price_Pack_Cigarettes,Fieldworker_Comment,Data_Cleaner_Comment
1,51.0,1,B,Namibia,NAD,18.0,1.0,2016.0,18jan2016,Khomas,...,20.0,0.0,20.00,1.0000,16.30000,1.226994,0.061350,1.226994,NaN,NaN
2,51.0,1,B,Namibia,NAD,18.0,1.0,2016.0,18jan2016,Khomas,...,20.0,0.0,36.99,1.8495,16.30000,2.269325,0.113466,2.269325,NaN,NaN
3,52.0,1,B,Namibia,NAD,19.0,1.0,2016.0,19jan2016,Khomas,...,20.0,0.0,37.00,1.8500,16.30000,2.269939,0.113497,2.269939,NaN,NaN
20,51.0,1,B,Namibia,NAD,18.0,1.0,2016.0,18jan2016,Khomas,...,20.0,0.0,26.99,1.3495,16.30000,1.655828,0.082791,1.655828,NaN,NaN
21,51.0,1,B,Namibia,NAD,18.0,1.0,2016.0,18jan2016,Khomas,...,20.0,0.0,36.99,1.8495,16.30000,2.269325,0.113466,2.269325,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
200140,1378.0,11,307,Namibia,NAD,22.0,1.0,2022.0,22jan2022,Khomas,...,20.0,0.0,52.60,2.6300,15.57465,3.377283,0.168864,3.377283,NaN,NaN
200158,1366.0,11,281,Namibia,NAD,6.0,1.0,2022.0,06jan2022,Khomas,...,50.0,0.0,40.00,0.8000,15.57465,2.568276,0.051366,1.027310,grams,NaN
200167,1207.0,11,307,Namibia,NAD,30.0,12.0,2021.0,30dec2021,Oshana Region,...,20.0,0.0,32.99,1.6495,15.57465,2.118186,0.105909,2.118186,NaN,NaN
200172,1327.0,11,281,Namibia,NAD,23.0,12.0,2021.0,23dec2021,Khomas,...,20.0,0.0,32.00,1.6000,15.57465,2.054621,0.102731,2.054621,NaN,NaN
200181,1205.0,11,307,Namibia,NAD,30.0,12.0,2021.0,30dec2021,Oshana Region,...,20.0,0.0,45.99,2.2995,15.57465,2.952875,0.147644,2.952875,NaN,NaN

In [11]:
round((namibia_df['Quantity'] * namibia_df['Local_Price_Per_Stick_Cigarette']).sum())

1475355

### 2.Lets say ,you are the finance minister of Lesotho and you have to find the total amount of money spent by your citizens on 18th jan 2016 for a specific reason on cigarettes , what would be your answer?

In [12]:
ld_df = df2[(df2['Country'] == 'Lesotho') & (df2['Day'] == 18) & (df2['Month'] == 1) & (df2['Year'] == 2016)] 
ld_df

,Store_ID,Round,Fieldworker_Code,Country,Currency,Day,Month,Year,Date,Province,...,Quantity,Unusual_Quantity_Flg,Local_Price,Local_Price_Per_Stick_Cigarette,Dollar_Exchange_Rate,Dollar_Price,Dollar_Price_Per_Stick_Cigarett,Dollar_Price_Pack_Cigarettes,Fieldworker_Comment,Data_Cleaner_Comment
0,123.0,1,F,Lesotho,LSL,18.0,1.0,2016.0,18jan2016,Lowlands,...,1.0,0.0,2.5,2.50,16.3,0.153374,0.153374,3.067485,NaN,NaN
5,38.0,1,F,Lesotho,LSL,18.0,1.0,2016.0,18jan2016,Lowlands,...,20.0,0.0,37.0,1.85,16.3,2.269939,0.113497,2.269939,NaN,NaN
11,118.0,1,F,Lesotho,LSL,18.0,1.0,2016.0,18jan2016,Lowlands,...,1.0,0.0,2.0,2.00,16.3,0.122699,0.122699,2.453988,NaN,NaN
14,73.0,1,F,Lesotho,LSL,18.0,1.0,2016.0,18jan2016,Lowlands,...,1.0,0.0,2.0,2.00,16.3,0.122699,0.122699,2.453988,NaN,NaN
39,72.0,1,F,Lesotho,LSL,18.0,1.0,2016.0,18jan2016,Lowlands,...,1.0,0.0,2.5,2.50,16.3,0.153374,0.153374,3.067485,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
978,122.0,1,F,Lesotho,LSL,18.0,1.0,2016.0,18jan2016,Lowlands,...,1.0,0.0,2.0,2.00,16.3,0.122699,0.122699,2.453988,NaN,NaN
992,70.0,1,F,Lesotho,LSL,18.0,1.0,2016.0,18jan2016,Lowlands,...,1.0,0.0,2.0,2.00,16.3,0.122699,0.122699,2.453988,NaN,NaN
993,73.0,1,F,Lesotho,LSL,18.0,1.0,2016.0,18jan2016,Lowlands,...,1.0,0.0,2.0,2.00,16.3,0.122699,0.122699,2.453988,NaN,NaN
1014,107.0,1,F,Lesotho,LSL,18.0,1.0,2016.0,18jan2016,Lowlands,...,1.0,0.0,2.5,2.50,16.3,0.153374,0.153374,3.067485,NaN,NaN
1024,117.0,1,F,Lesotho,LSL,18.0,1.0,2016.0,18jan2016,Lowlands,...,1.0,0.0,2.0,2.00,16.3,0.122699,0.122699,2.453988,NaN,NaN

In [13]:
(ld_df['Quantity']*ld_df['Local_Price']).sum()

14644.5

### 3.You are a chain smoker in the suburb of Windhoek West and you are on a journey to find the total no of brand of cigarettes you can smoke that can be bought in a retail store?

In [14]:
brands = df2[(df2['Suburb'] == 'Windhoek West') & (df2['Outlet_Type'] == 'Retail')]['Brand'].unique()
len(brands)

22

# Harry Potter

In [15]:
file3 = r"C:\Users\nvkaj\Pictures\Learn\MIC\CTF 2\Harry_Potter\harry_potter.csv"
df3 = pd.read_csv(file3)
df3

,ID,Intelligence,Blood Status,Loyalty,Gender,What are you curious about?,Affinity to Dark Arts,Magic Transportation Model,Height,Preferred Goblet Potion,"If you were a principal, how would you choose your students?",Species,Preferred Element,Kindness,House
0,1,30.0,Muggle Born,37.0,F,World after we die,51.94,Apparition,169.42,The Golden Potion,By a difficult exam,Centaurs,NaN,69.50,Gryffindor
1,2,32.0,Pure Blood,42.0,F,World after we die,54.00,Apparition,183.53,Potion that smells of plums and chocolates,I choose without preferences,Humans,NaN,49.61,Slytherine
2,3,32.0,Pure Blood,38.0,F,World after we die,38.61,Portkey,171.48,Potion that smells of plums and chocolates,By a difficult exam,Werewolves,NaN,25.87,Ravenclaw
3,4,28.0,Muggle Born,36.0,F,Magical Creatures,47.50,Portkey,142.18,Potion that makes you see strange visions,I choose students with high scores,Centaurs,NaN,82.35,Slytherine
4,5,28.0,Muggle Born,40.0,F,Plants,54.29,Flying,190.82,Potion that smells of plums and chocolates,By a difficult exam,Humans,NaN,95.46,Ravenclaw
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1995,1996,29.0,Pure Blood,35.0,F,World after we die,54.78,Portkey,189.10,Silvery Potion,By a psychological test,Centaurs,NaN,47.64,Slytherine
1996,1997,30.0,Pure Blood,40.0,M,Magical Creatures,45.42,Flying,167.52,Silvery Potion,I choose students with high scores,Humans,NaN,59.04,Slytherine
1997,1998,33.0,Pure Blood,41.0,M,Plants,28.53,Floo Network,151.23,Potion that smells of plums and chocolates,I choose without preferences,Centaurs,NaN,48.47,Ravenclaw
1998,1999,30.0,Muggle Born,40.0,M,World after we die,73.57,Apparition,177.57,Potion that smells of plums and chocolates,I choose without preferences,Werewolves,NaN,67.51,Hufflepuff
1999,2000,30.0,Muggle Born,39.0,F,Plants,54.18,Apparition,126.43,Potion that smells of plums and chocolates,By a psychological test,Humans,NaN,27.17,Slytherine

## Within the Hogwarts Houses Dataset, there are columns for 'House' and 'Kindness.' Find out which magical house boasts the highest average kindness among its members? Share the name of the house and the corresponding rounded off kindness value.

In [16]:
df3.groupby('House')['Kindness'].mean()

House
Gryffindor    49.356681
Hufflepuff    51.563824
Ravenclaw     50.229742
Slytherine    48.972794
Name: Kindness, dtype: float64

### 2 Within the enchanted dataset containing information on Hogwarts students, there are columns detailing their magical transportation preferences, particularly the 'Magic Transportation Model' and 'House.' Unveil the Hogwarts house that most frequently employs Portkeys for their magical travels. Share the name of the house and the corresponding count of portkeys used.

In [17]:
df3[df3['Magic Transportation Model'] == 'Portkey'].groupby('House').count()

,ID,Intelligence,Blood Status,Loyalty,Gender,What are you curious about?,Affinity to Dark Arts,Magic Transportation Model,Height,Preferred Goblet Potion,"If you were a principal, how would you choose your students?",Species,Preferred Element,Kindness
House,,,,,,,,,,,,,,
Gryffindor,178,178,178,178,178,178,178,178,178,177,175,177,3,178
Hufflepuff,204,204,204,204,204,203,204,204,204,201,204,203,2,204
Ravenclaw,182,182,182,182,182,181,182,182,182,180,181,179,2,182
Slytherine,193,193,193,193,193,192,193,193,193,191,189,190,1,193

### 3.Deep within the Hogwarts Houses Dataset lies the mystique of magical affiliations, particularly concerning the 'Affinity to Dark Arts.' Find the average affinity to the Dark Arts for Slytherine house. Share the rounded off value of Slytherineâs affinity to dark arts.

In [18]:
df3_1 = df3[df3['House'] == 'Slytherine']
round(df3_1['Affinity to Dark Arts'].mean())

49

### 4.Embark on a journey into the heart of loyalty within the Hogwarts Houses Dataset. Uncover the house with the least loyalty among its enchanted members. Share the House Name and itâs rounded off value of loyalty.

In [19]:
df3.groupby('House')['Loyalty'].mean()

House
Gryffindor    39.668058
Hufflepuff    39.674952
Ravenclaw     39.400794
Slytherine    39.384615
Name: Loyalty, dtype: float64